/*image display*/

#image {
    grid-area: img;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 10px;
    margin: auto;
    background-color: rgb(143, 158, 139);
}

.img {
    padding: 10px;
    margin: auto;
    width: 95%;
    height: auto;
}