/*navigation links and box*/

.menu {
    background-color: black;
    color: rgb(229, 226, 226);
    text-decoration: none;
    border-radius: 30px;
}

#nav {
    width: 800px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#navigation {
    display: flex;
    margin-bottom: 10px;
}